*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

*:focus{
    outline: 0;
}

body{
    background: linear-gradient(to right, #44cfa3, #185a9d);
    color: black;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    
}

header {
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    
}

form input{
    border-radius: 20px;
    border: 3px solid black;
}

form button{
    color: #ffffff;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 1rem;;
    border-radius: 5px;
}

form button:hover{
    background: #185a9d;
    color: black;
    
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 30px;
    margin: 0 20%;
    
    
}

.todo-list{
    min-width: 80%;
    list-style: none;
    border-radius: 30px;
    

}

.todo {
    margin: 0.5rem;
    color:black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    
    transition: all 0.5s ease;
    
}

.todo li {
    flex:1;
    background: white;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.5rem;
    
}

.thrash-btn, .complete-btn{
    
    color: rgb(0, 0, 0);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 20px;

}

.complete-btn {
    margin-right: 5px;
    background: rgb(0, 255, 0);
}

.thrash-btn{
    background: rgb(224, 24, 24);
}

.thrash-btn:hover{
    background: rgb(236, 56, 56);
    color: black;
    
}

.complete-btn:hover{
    background:springgreen;
    color:black;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.fall {
    transform:  translateY(15em) rotateZ(90deg);
    
    opacity: 0;
}
.todo-item{
    padding: 0rem 0.5rem;
}

.red-back {
    background: linear-gradient(to left, #cb2d3e, #ef473a); ;
}

.green-back {
    background: linear-gradient(to left, #11998e, #38ef7d);

}

.fun {
    background: rgb(236, 36, 36);
    text-align: center;
    color: white;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border:none;
}

.select {
    margin:1rem;
    position: relative;
    overflow: hidden;
    border:3px solid black;
    border-radius: 20px;
}

select {
    color:#185a9d;
    width: 10rem;
    cursor:pointer;
    padding: 1rem;
    font-size: 1rem;
    

}

.select::after{
    content:"\25BC";
    position:absolute;
    background: #185a9d;
    top:0;
    right: 0;
    padding: 1rem;
    
    font-family: "Poppins", sans-serif;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover:after {
    background: white;
    color: #185a9d;
}

option {
    padding: 2rem;
    font-size: 1rem;
    color: rgb(39, 141, 209);
}

h2{
    display: flex;
    justify-content: center;
}